@charset "UTF-8";

body {
  background: #e7ecec;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Hiragino Sans', Meiryo, sans-serif;
  /* font-size: 20px; */
  line-height: 1.6em;
  text-align: center;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4em;
}
 
input {
  font-family: inherit;
  font-size: inherit;
  border-radius: .25rem;
  border: 1px solid #707070;
  outline: none;
  padding: 0.375em 0.75em;
}

input:focus {
  border-color: rgba(var(--color_rgb), .5);
  box-shadow: 0 0 3px 1px rgba(var(--color_rgb), .5);
}

button {
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
}
